@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
<div class=" bas">
    <h1 class="display-4">raccon mobile</h1>
    <p> La empresa de telefonía de mayor prestigio en México. </p>
    </div>
    <div>
        <div class="contenido_1">
            <p>
                En QuattroCom, nuestro principal objetivo es ser tu proveedor
                de Internet preferido. Nuestros servicios de Internet de alta
                velocidad y telefonía fija cuentan con la más alta calidad y
                confiabilidad para satisfacer tus necesidades de comunicación.
            </p>
            
        </div>
        <div>
            <h1>Proveedor de Soluciones Carrier</h1>
            <p>
                En QuattroCom, brindamos soluciones para operadores de telecomunicaciones.
                Lleva tus operaciones al siguiente nivel y obtén una ventaja competitiva.
            </p>
            <button>Conoce mas aqui</button>
        </div>
    
    <title>Document</title>
</head>
<body>
    
</body>
</html>