@{ 
    ViewData["Title"] = "Empleado";
}
<div class="row">
    <div class="col-6">
        <h2>Formulario de Empleado</h2>
        <label for="nombre">Nombre del titular</label>
        <input type="text" id="nombre" class="form-control" readonly />
        <label for="apellidos">Apellidos</label>
        <input type="text" id="apellidos" class="form-control" readonly />
        <label for="telefono">Teléfono</label>
        <input type="text" id="telefono" class="form-control" readonly />
        <label for="problema">Problema presentado</label>
        <input type="text" id="problema" class="form-control" readonly />
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" class="form-control" readonly />
        <label for="estado">Estado</label>
        <input type="text" id="estado" class="form-control" value="Pendiente" readonly />
        <br>
        <button type="button" class="btn btn-success" id="btnAtendido">Atendido</button>
        <button type="button" class="btn btn-danger" id="btnCancelado">Cancelar</button>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script>
    const conexion = new signalR.HubConnectionBuilder()
        .withUrl("/WebSocketServer")
        .build();

    conexion.start().then(() => {
        
    }).catch((e) => {
       
    });

    conexion.on("EnviarMensajeTodos", (nombre, apellidos, telefono, problema, direccion) => {
        document.getElementById('nombre').value = nombre;
        document.getElementById('apellidos').value = apellidos;
        document.getElementById('telefono').value = telefono;
        document.getElementById('problema').value = problema;
        document.getElementById('direccion').value = direccion;  
        document.getElementById("estado").value = "Pendiente"; 
        console.log("Información recibida:", { nombre, apellidos, telefono, problema, direccion });
    });

    function limpiarCampos() {
        document.getElementById('nombre').value = '';
        document.getElementById('apellidos').value = '';
        document.getElementById('telefono').value = '';
        document.getElementById('problema').value = '';
        document.getElementById('direccion').value = '';
        document.getElementById('estado').value = 'Pendiente';
    }

    function actualizarEstado(estado) {
        const fechaHoraActual = new Date().toLocaleString();
        const filaEncargado = document.createElement("tr");
        filaEncargado.innerHTML = `
            <td>${document.getElementById('nombre').value}</td>
            <td>${document.getElementById('apellidos').value}</td>
            <td>${document.getElementById('telefono').value}</td>
            <td>${document.getElementById('problema').value}</td>
            <td>${document.getElementById('direccion').value}</td>
            <td>${estado}</td>
            <td>${fechaHoraActual}</td>
            <td>${estado === "Atendido" ? fechaHoraActual : "" || estado === "Cancelado" ? fechaHoraActual : ""}</td>
        `;

        document.getElementById("tablaEncargados").appendChild(filaEncargado);

        conexion.invoke("ActualizarEstado", estado).catch(err => console.error(err));
        limpiarCampos();
    }

    document.getElementById("btnAtendido").addEventListener("click", () => {
        actualizarEstado("Atendido");
    });

    document.getElementById("btnCancelado").addEventListener("click", () => {
        actualizarEstado("Cancelado");
    });
</script>

<div class="row">
    <div class="col-6">
        <h2>Tabla de resgistros</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Teléfono</th>
                    <th>Problema</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                    <th>Fecha y Hora de Llegada</th>
                    <th>Fecha y Hora de Atención/Cancelación</th>
                </tr>
            </thead>
            <tbody id="tablaEncargados"></tbody>
        </table>
    </div>
</div>
