@{
    ViewData["title"] = "Logistica";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hola</h1>
</body>
</html>
<script src="~/js/signalR.js"></script>
<script>
    const conexion = new signalR.HubConnectionBuilder().withUrl("/soketChalan").build();
    conexion.start().then(() => alert("Conexión establecida")).catch(console.error);
    
</script>